[Unit]
Description=manifold-trading-bot

[Service]
Type=simple
User=manifoldbot
Restart=always
RestartSec=5
ExecStart=/home/manifoldbot/ManifoldTradingBot/bin/CLI
WorkingDirectory=/home/manifoldbot

[Install]
WantedBy=multi-user.target
